<section class="wrapper-home upcoming-events home-section">
  <div class="row">
    <h3 class="section-heading"><%= t("decidim.content_blocks.last_activity.title") %></h3>
    <a class="twitter-timeline twitter-timeline-rendered" href="https://twitter.com/ReCharge_EU?ref_src=twsrc%5Etfw">Tweets by ReCharge_EU</a>
    <script   async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </div>

</section>

