@import "./variables";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  text-align: center;
}

body, .off-canvas-wrapper, .home-section:nth-of-type(2n + 1) {
  background-color: $body-background;
}

body, h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6  {
  font-family: "NeuePlakTextRegular", "Helvetica", "Roboto", "Arial", sans-serif;
}

.h1 {
  font-size: 4em;
}

.decorator, .social-heading, .section-heading {
  font-weight: bold;
}

.section-heading::before, .home__section-title::before, .h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 1.35em;
  background-color: $color-pink;
  margin-right: 0.5rem;
  margin-bottom: -0.5rem;
  vertical-align: top;
}

.layout-2col__main.content_block > .decorator::after {
  display: none;
}

.home__section-title::after {
  display: none;
}

.stack-vertical > .decorator::after, .latest-blog-posts > .decorator::after.decorator::after,
#content > main > section.stack-vertical.layout-2col__main.content-block > .decorator::after,
#html-block-html > div > .decorator::after,
#blogs > .decorator::after,
#homepage-upcoming-meetings > div.content-block__title > h2::after,
body > footer > div.main-footer > div.main-footer__top > div.lg\:w-1\/3,
.decorator::after {
  display: none !important;
  background-color: transparent !important;
}

.social-heading, .section-heading {
  text-transform: uppercase;
}

.stack {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
}

.stack-vertical .stack {
  gap: 1em;
}

.card__calendar-list__reset > time > span.card__calendar-month {
  color: $black;
}
