
@import "./variables";

.button.hollow {
  color: $color-blue2 !important;
}

.button.hollow:hover {
  color: $black !important;
}

.button {
  color: $black;
  background: #ffa3e2 !important;
  border: 1px solid $black !important;
}

.button:hover {
  color: $black;
}

#home__menu a {
  border: none !important;
}

#homepage-upcoming-meetings > div.content-block__title > a {
  padding: .5em;
}
