
@import "./variables";

.button.hollow {
  color: $color-blue2 !important;
  border-color: $color-blue2;
}

.button.hollow:hover {
  color: $black !important;
}

.button {
  color: $black;
  background: #ffa3e2 !important;
}

.button:hover {
  color: $black;
}
