.cover-full .cover-text {
  padding: 2em !important;
  margin: auto !important;
  margin-left: 10rem !important;
  width: 40% !important;
}

.alternative-landing.cover-full {
  padding: 5em 1em 0em 1em !important;
}
