.cover-full .cover-text {
  padding: 2em !important;
  margin: auto !important;
  margin-left: 5rem !important;
  width: 50% !important;
}

.alternative-landing.cover-full {
  padding: 5em 1em 0em 1em !important;
}
