@import "./variables";

.main-footer {
  background: $footer-bg !important;
}

.main-footer__top,
.main-footer__top * {
  color: black !important;
}
.mini-footer,
.eu-footer {
  background: none;
}

.main-footer__language-trigger {
  border-color: $black !important;
}

.main-footer__language-trigger span[data-accessibility-violation="true"] {
  color: black !important;
}

.eu-footer {
  .eu-disclaimer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .flag{
      height: auto;
      max-height: 8rem;
    }
    &__img {
      width: 15rem;
      img {
        height: auto;
        max-width: 100vw;
        width: 15rem;
      }
    }
    p {
      font-size: 0.5rem;
      margin-bottom: 0;
      font-family: NeuePlakTextRegular;
    }
  }
  .row {
    display: flex;
    justify-content: center
  }
}

.mini-footer {
  .logos {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    padding: 1rem;
  }
  .row {
    display: flex;
    align-items: center
  }
}

.mini-footer {
  a {
    color: $white;
    &:hover {
      color: darken($medium-gray, 40%);
    }
  }
  span {
    color: $white;
  }
}

.main-footer__down a,
.main-footer__down svg {
    color: black !important;
    fill: black !important;
    stroke: black !important;
}


.decidim-logo img {
  filter: brightness(0);
}

.main__footer__social{
  text-align: center;

  @media (min-width: 768px) {
    text-align: right;
  }

  p {
    text-align: center !important;
    margin-left: 25px;
    margin-bottom: 0;
    color: #404040;
    padding-top: 0.5rem;
  }
}
