@import "./variables";



.eu-footer {
  background: $footer-bg;

}
.eu-footer {
  .eu-disclaimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__img {
      height: 8rem;

      img {
        height: 100%;
        max-width: none;
        width: auto;
      }
    }
  }
}