@import "./variables";



.footer {
  background: $footer-bg;
}

.mini-footer,
.main-footer,
.eu-footer {
  background: none;
}

.eu-footer {
  .eu-disclaimer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &__img {
      height: 8rem;

      img {
        height: 100%;
        max-width: none;
        width: auto;
      }
    }
  }
  .row {
    display: flex;
    justify-content: center
  }
}