@import "./variables";

.title-bar {
  background-color: $white;
  color: $black;
}

.topbar__user__login a {
  color: $black;
  font-weight: 600;
}


  .logo-wrapper {
    img {
      max-height: 6rem;
    }

  }
