@import "./variables";

$navbar-color: $white;
$navbar-color-hover: rgba(white, .5);
$navbar-active-color: rgba(white, .7);

.main-nav__link a {
  color: $navbar-color;

  &:hover {
    color: $navbar-color-hover;
  }
}

.main-nav__link--active a {
  color: $navbar-active-color;
}