@import "./variables";

.title-bar {
  background-image: url("images/background_recharge_pink.png");
  background-size: contain;
  color: $black;
}

.topbar__user__login a, .topbar__dropmenu > ul > li > a, .topbar__admin__link a{
  color: $black;
  font-weight: 600;
}

.topbar__dropmenu .is-dropdown-submenu li a {
  color: $color-blue2;
}

.topbar__admin__link a:hover {
  color:$black;
}

.topbar__notifications .icon, .topbar__conversations .icon {
  fill: $black;
  opacity: 0.6;
}

.topbar__dropmenu > ul > li > a::after{
  margin-top: -1px !important;
  border-top-color: $black !important;
}

.dropdown.menu > li.is-active > a {
  background: transparent;
  color: $color-blue2;
}


  .logo-wrapper {
    img {
      max-height: 6rem;
    }

  }



