<div class="eu-footer">
  <div class="row">
    <div class="column small-12 medium-2 large-12">
      <div class="eu-disclaimer">
        <div class="eu-disclaimer__img">
          <%= image_pack_tag "media/images/eu-flag.jpg", class: "flag", alt: "European Union flag" %>
        </div>

      </div>
    </div>
  </div>
</div>