<div class="eu-footer">
  <div class="row">
    <div class="column small-12 medium-2 large-12">
      <div class="eu-disclaimer">
        <div class="eu-disclaimer__img">
          <%= image_pack_tag "media/images/LOGO_TYPE.png", class: "recharge_logo_footer", alt: "Recharge Logo: Resilient European Cultural Heritage As Resource for Growth and Engagement" %>
        </div>
        <div class="eu-disclaimer__img">
          <%= image_pack_tag "media/images/EN-Funded_by_the_EU-PANTONE.png", class: "flag", alt: "European Union flag: Funded by the European Union" %>
          <p>Views and opinions expressed are however those of the author(s) only and do not necessarily reflect those of the European Union or the European Research Executive Agency. Neither the European Union nor the granting authority can be held responsible for them.</p>
        </div>
      </div>
    </div>
  </div>
</div>
