

@font-face {
  font-family: "Neue Plack";
  font-display: swap;
  src: url('fonts/Neue_Plak_Regular.ttf') format('truetype');
}



@import "recharge/variables";
@import "recharge/footer";
@import "recharge/navbar";
@import "recharge/body";