

@font-face {
  font-family: "NeuePlakTextRegular";
  font-display: swap;
  src: url('fonts/NeuePlakTextRegular/font.woff') format('woff'),
   url('fonts/NeuePlakTextRegular/font.woff2') format('woff2');
}



@import "recharge/variables";
@import "recharge/footer";
@import "recharge/navbar";
@import "recharge/body";
@import "recharge/buttons";
@import "recharge/cards";
@import "recharge/typography";
@import "recharge/orgchart";